#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100%;
}

.container {
  display: grid;
  height: 880px;
  background-color: hsl(0, 0%, 6%);
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: 1fr 2fr 6fr 2fr;
}

.thin-scroll {
  /* scrollbar */
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--medium-grey3) var(--dark-grey);

  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--dark-grey);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--medium-grey3);
    border-radius: 4px;
  }
}
