#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: grid;
  height: 88vh;
  min-height: 600px;
  max-height: 820px;
  background-color: var(--medium-grey2);
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: 1.1fr 2fr 6fr 2fr;
  grid-template-rows: 2fr 1fr 14fr 0.8fr;
}

.thin-scroll {
  /* scrollbar */
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--medium-grey3) var(--dark-grey);

  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--dark-grey);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--medium-grey3);
    border-radius: 4px;
  }
}
