@import url("https://fonts.googleapis.com/css2?family=Lunasima:wght@400;700&display=swap");
:root {
  --header-bg: hsl(0, 0%, 6%);
  --left-nav-bg: hsl(0, 0%, 6%);
  --menu-bg: #202020;
  --main-bg: #585858;
  --body-bg: hsl(0, 0%, 25%);
  --chat-bg: hsl(0, 0%, 55%);
  --input-bg: var(--main-bg);
  --accent-text: #3f48cc;
  --accent-text-dark: hsl(236, 58%, 22%);
  --divider: #202020;
  --online-status-color: #43b581;
  --offline-status-color: #747f8d;
  --medium-text: #202020;
  --dark-text: #000000;

  font-family: "Lunasima", sans-serif;
  line-height: 1.5;

  background-color: var(--body-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

div {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
