@import url("https://fonts.googleapis.com/css2?family=Lunasima:wght@400;700&display=swap");
:root {
  --dark-grey: hsl(0, 0%, 6%);
  --dark-grey2: hsl(0, 0%, 9%);
  --medium-grey: hsl(0, 0%, 13%);
  --medium-grey2: hsl(0, 0%, 18%);
  --medium-grey3: hsl(0, 0%, 25%);
  --input-bg: var(--medium-grey);
  --accent-text: hsl(236, 58%, 50%);
  --divider: var(--dark-grey2);
  --online-status-color: #43b581;
  --offline-status-color: #747f8d;
  --dark-text: #000000;
  --medium-text: hsl(0, 0%, 35%);
  --medium-light-text: hsl(0, 0%, 55%);
  --light-text: hsl(0, 0%, 80%);
  font-family: "Lunasima", sans-serif;
  line-height: 1.5;

  background-color: var(--medium-grey3);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

div,
ul {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

button {
  border: none;
  background-color: inherit;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
