.channels-container {
  grid-area: 2/2/5/3;
  background-color: var(--dark-grey);
}

.channels {
  width: 100%;

  background-color: var(--medium-grey);
  color: var(--light-text);
  border-top-left-radius: 6px;
  font-size: 105%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.channels li {
  list-style: none;
  text-align: left;
  padding: 10% 2%;
  font-weight: bold;
}

.channels button:hover {
  color: var(--medium-light-text);
}

.col-head {
  border-bottom: 2px solid var(--divider);
  text-align: center;
  grid-row: 1/2;
  color: white;
  display: flex;
  padding: 5px;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

.col-head h2 {
  font-size: 120%;
}

.col-head svg {
  font-size: 140%;
}

.col-head:hover {
  background-color: var(--medium-grey3);
}

.server-menu {
  grid-area: 4/2/5/3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 16px;
  color: var(--medium-light-text);
  font-weight: bold;
  background-color: var(--medium-grey);
}

.channel-list-container {
  position: relative;
}

.server-dropdown {
  position: absolute;
  background-color: var(--dark-grey);
  color: var(--light-text);
  width: 90%;
  margin: 0 10px;
  padding: 15px;
  border: 1px solid var(--medium-grey);
  border-radius: 15px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.server-dropdown li button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.code-status {
  position: fixed;
  top: 6%;
  left: 38%;
  padding: 1%;
  border-radius: 15px;
  background-color: var(--medium-grey);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: opacity 0.6s ease-in-out;
  z-index: 101;
}
