.channels-container {
  grid-area: 2/2/4/3;
  background-color: var(--dark-grey);
}

.channels {
  width: 100%;
  background-color: var(--medium-grey);
  color: var(--light-text);
  border-top-left-radius: 6px;
  font-size: 105%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.channels li {
  list-style: none;
  text-align: left;
  padding: 10% 2%;
  padding-left: 0;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.channels li button {
  text-align: left;
}

.channels button:hover {
  color: var(--medium-light-text);
}

.col-head {
  border-bottom: 2px solid var(--divider);
  background-color: var(--medium-grey);
  text-align: center;
  color: white;
  display: flex;
  padding: 5px;
  gap: 2px;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.col-head h2 {
  font-size: 120%;
}

.col-head svg {
  font-size: 140%;
}

.col-head:hover {
  background-color: var(--medium-grey3);
}

.server-menu {
  grid-area: 4/2/5/3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 16px;
  color: var(--medium-light-text);
  font-weight: bold;
  background-color: var(--medium-grey);
}

.channel-list-container {
  position: relative;
}

.server-dropdown {
  position: absolute;
  background-color: var(--dark-grey);
  color: var(--light-text);
  width: 90%;
  margin: 0 10px;
  padding: 15px;
  border: 1px solid var(--medium-grey);
  border-radius: 15px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.server-dropdown li {
  display: block;
}

.server-dropdown-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.confirm-outline {
  border: 1px solid var(--medium-grey3);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-status {
  position: fixed;
  top: 6%;
  left: 38%;
  padding: 1%;
  border-radius: 15px;
  background-color: var(--medium-grey);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: opacity 0.6s ease-in-out;
  z-index: 101;
}

.chan-icon {
  width: 6px;
  height: 0;
  border-radius: 0 50% 50% 0;
  margin-left: 0px;
  margin-top: 7px;
}

.chan-icon.unread {
  height: 12px;
  background-color: aliceblue;
}
