.chat {
  width: 100%;
  /* min-width: 400px; */
  background-color: var(--medium-grey2);
  grid-area: 3/3/4/4;
  overflow-y: auto;
  min-height: 60vh;
  max-height: 65vh;
  color: var(--light-text);
  text-align: left;
  /* scrollbar */
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--medium-grey3) var(--dark-grey);

  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--dark-grey);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--medium-grey3);
    border-radius: 4px;
  }
}

.chat li {
  list-style: none;
}

.chat ul {
  padding: 0 10px;
}

.message-thumbnail {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 100%;
  object-fit: cover;
  margin-top: 2px;
}

div .message-thumbnail {
  background-color: var(--accent-text);
  color: var(--light-text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.message {
  display: flex;
  padding: 1%;
  align-items: start;
  justify-items: flex-start;
  position: relative;
}

.message p {
  margin: 0 6px;
}

.message-data {
  display: flex;
  padding: 1%;
  padding-left: 5%;
  gap: 15px;
}

.message-username {
  font-weight: bold;
  color: var(--online-status-color);
}

.message-time {
  color: var(--medium-light-text);
}

.message > div {
  flex-grow: 2;
}

.edited {
  color: var(--medium-light-text);
  font-style: italic;
  font-size: 90%;
  align-self: center;
}

.message:hover {
  background-color: var(--medium-grey3);
  border-radius: 15px;
}

.message-options {
  border: 1px solid var(--dark-grey2);
  border-radius: 5px;
  background-color: var(--medium-grey);
  padding: 0;
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.message-btn {
  font-size: 130%;
  margin: 2px;
  border-radius: 5px;
}

.edit-div,
.edit-div > div {
  display: flex;
  gap: 15px;
}

.message-btn:hover {
  background-color: var(--input-bg);
}
.message-options button:hover {
  background-color: var(--medium-grey3);
}

.confirm-del {
  position: absolute;
  right: 0;
  background-color: var(--dark-grey);
  border-radius: 5px;
  padding: 4px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reaction-btn {
  background-color: var(--medium-grey);
}

.reaction-btn:hover {
  background-color: var(--dark-grey2);
}
