.chat {
  width: 100%;
  background-color: var(--medium-grey2);
  grid-area: 3/3/4/4;
  overflow-y: scroll;

  color: var(--light-text);
  /* scrollbar */
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--medium-grey3) var(--dark-grey);

  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--dark-grey);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--medium-grey3);
    border-radius: 4px;
  }
}

.chat li {
  list-style: none;
}

.message-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.message {
  display: flex;
  padding: 1%;
  align-items: center;
}

.message-data {
  display: flex;
  padding: 1%;
  padding-left: 5%;
  gap: 15px;
}

.message-username {
  font-weight: bold;
  color: var(--online-status-color);
}

.message-time {
  color: var(--medium-light-text);
}

.edited {
  color: var(--medium-light-text);
  font-style: italic;
  font-size: 90%;
  align-self: center;
}
