.chat-container {
  grid-area: 3/3/6/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70vh;
  max-height: 74vh;
}
.chat {
  flex-shrink: 1;
  flex-grow: 1;
  width: 100%;
  /* min-width: 400px; */
  background-color: var(--medium-grey2);
  overflow-y: auto;
  max-height: 62vh;
  min-height: 10vh;
  color: var(--light-text);
  text-align: left;
  /* scrollbar */
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--medium-grey3) var(--dark-grey);
  padding-top: 15px;

  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--dark-grey);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--medium-grey3);
    border-radius: 4px;
  }
}

.chat li {
  list-style: none;
}

.chat ul {
  padding: 0 10px;
}

.message-thumbnail {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 100%;
  object-fit: cover;
  margin-top: 2px;
}

div .message-thumbnail {
  background-color: var(--accent-text);
  color: var(--light-text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.message {
  display: flex;
  padding: 1%;
  align-items: start;
  justify-items: flex-start;
  position: relative;
}

.message p {
  margin: 0 6px;
}

.message-data {
  display: flex;
  padding: 1%;
  padding-left: 5%;
  gap: 15px;
}

.message-username {
  font-weight: bold;
  color: var(--online-status-color);
}

.message-time {
  color: var(--medium-light-text);
}

.message > div {
  flex-grow: 2;
}

.edited {
  color: var(--medium-light-text);
  font-style: italic;
  font-size: 90%;
  align-self: center;
}

.message:hover {
  background-color: var(--medium-grey3);
  border-radius: 15px;
}

.message-options {
  border: 1px solid var(--dark-grey2);
  border-radius: 5px;
  background-color: var(--medium-grey);
  padding: 0;
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.message-btn {
  font-size: 130%;
  margin: 2px;
  border-radius: 5px;
}

.edit-div,
.edit-div > div {
  display: flex;
  gap: 15px;
}

.message-btn:hover {
  background-color: var(--input-bg);
}
.message-options button:hover {
  background-color: var(--medium-grey3);
}

.confirm-del {
  position: absolute;
  right: 0;
  background-color: var(--dark-grey);
  border-radius: 5px;
  padding: 4px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@keyframes expand-in {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes expand-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.reaction-btn {
  background-color: var(--medium-grey);
  border: 1px solid var(--medium-grey);
}

.in {
  animation: expand-in 0.5s;
}
.out {
  animation: expand-out 0.5s forwards;
}

.reaction-btn:hover {
  background-color: var(--dark-grey2);
  border: 1px solid var(--medium-light-text);
}

.reaction-span {
  position: relative;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.reaction-details {
  background-color: var(--black-tr);
  padding: 10px;
  width: 240px;
  z-index: 501;
  left: 0;
  bottom: 40px;
  position: absolute;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade-in 0.5s ease-in;
}

.reaction-details.show {
  opacity: 1;
}

.emoji-code {
  font-size: 200%;
}
.emoji-name {
  font-size: 110%;
}
