.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--dark-grey);
  padding: 0 2%;
  font-weight: bold;
  grid-area: 1/1/2/5;
  box-sizing: border-box;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header h1 {
  color: var(--accent-text);
}

#image-placeholder {
  border-radius: 100%;
  background-color: white;
  padding: 2%;
}

.header-thumbnail {
  position: relative;
  text-align: center;
}

.header-dropdown {
  position: absolute;
  background-color: var(--dark-grey);
  color: var(--light-text);
  width: 150%;
  padding: 15px;
  margin-left: -35px;
  text-align: left;
  border: 1px solid var(--medium-grey);
  border-radius: 15px;
}

.header-dropdown li {
  list-style: none;
}

.header-dropdown button:hover {
  color: var(--medium-light-text);
}
