.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--header-bg);
  padding: 0 2%;
  font-weight: bold;
}

.header h1 {
  color: var(--accent-text);
}

#image-placeholder {
  border-radius: 100%;
  background-color: white;
  padding: 2%;
}
