.login-signup {
  grid-area: 1/1/5/5;
  color: var(--light-text);
  padding-bottom: 50px;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-grey);
  border-radius: 10px;
}

.login-signup h2 {
  color: var(--online-status-color);
}

.login-signup a {
  color: var(--online-status-color);
  text-decoration: underline;
  cursor: pointer;
}

.login-signup a:hover {
  color: var(--accent-text);
}

.login-signup h1 {
  color: var(--accent-text);
}

.error {
  color: rgb(203, 0, 0);
}
