.message-input {
  grid-area: 4/3/6/4;
  background-color: var(--medium-grey2);
  padding: 0 5% 2% 0;
}

.message-input > div {
  color: var(--medium-light-text);
}

textarea {
  padding: 2%;
  outline: none;
  border: none;
  border-radius: 10px;
  width: 70%;
  font-size: 105%;
  background-color: var(--input-bg);
  color: white;
  font-family: "Lunasima", sans-serif;
  resize: none;
}

.message-input input::placeholder {
  color: var(--medium-text);
}
