.servers {
  background-color: var(--dark-grey);
  padding: 2%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  grid-area: 2/1/5/2;
  overflow-y: scroll;
  /* no scrollbar */
  /* Firefox */
  scrollbar-width: 0px;
  border-bottom-left-radius: 10px;
}

/* WebKit (Chrome, Safari) */
.servers::-webkit-scrollbar {
  width: 0px;
}
.servers li {
  list-style: none;
}

.server-thumbnail,
.image-thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.server-thumbnail {
  font-weight: bold;
  font-size: 2em;
  color: white;
  background-color: var(--accent-text);
  cursor: pointer;
}

.image-thumbnail {
  object-fit: cover;
}

.add-thumbnail {
  background-color: var(--left-nav-bg);
  border: 1px solid var(--medium-grey2);
  min-height: 100px;
}

.server-details {
  position: absolute;
  background-color: var(--dark-grey2);
  padding: 2%;
  border: 1px solid var(--accent-text);
  border-radius: 70%;
  color: var(--light-text);
  z-index: 10;
}
