.users {
  grid-area: 3/4/5/5;
  background-color: var(--medium-grey);
  font-size: 105%;
  height: 100%;
  border-bottom-right-radius: 10px;
  overflow-y: auto;
  border-right: 1px solid var(--medium-grey);
  border-bottom: 6px solid var(--medium-grey);
}

#dark-scroll {
  /* scrollbar */
  /* Firefox */
  scrollbar-color: var(--medium-grey) var(--dark-grey);

  &::-webkit-scrollbar-thumb {
    background-color: var(--dark-grey);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--medium-grey);
    border-radius: 4px;
  }
}

.users ul {
  width: 100%;
  padding: 0 10px;
}

.users h3 {
  text-align: left;
  color: var(--light-text);
}

.users li {
  list-style: none;
  display: flex;
  padding: 3%;
  gap: 15px;
  align-items: center;
  color: var(--online-status-color);
  font-weight: bold;
}

.user-thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
}

div .user-thumbnail {
  background-color: var(--accent-text);
  color: var(--light-text);
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}
