.users {
  grid-area: 3/4/6/5;
  background-color: var(--medium-grey);
  font-size: 105%;
}

.users ul {
  width: 100%;
  padding: 0 10px;
}

.users h3 {
  text-align: left;
  color: var(--light-text);
}

.users li {
  list-style: none;
  display: flex;
  padding: 3%;
  gap: 15px;
  align-items: center;
  color: var(--online-status-color);
  font-weight: bold;
}

.user-thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
}

div .user-thumbnail {
  background-color: var(--accent-text);
  color: var(--light-text);
  display: flex;
  justify-content: center;
  align-items: center;
}
